@import './_mixins';

$off-white: #f6f2f2;
$small-heading: 3rem;
$medium-heading: 6rem;
$card-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
$icon-size: 4rem;
$p-font-size: 1.125rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: absolute;
}

// Navbar section
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $off-white;

  h1.logo {
    margin-right: 2rem;
    font-size: 2rem;
    font-weight: 700;
  }

  ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    li {
      margin-left: 3rem;
      font-size: 0.875rem;
    }
  }
  a {
    text-decoration: none;
    color: #111;
  }
}

// Hero Section
.hero {
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  background: url('../assets/hartford.jpg') 50% 50% / cover no-repeat;
  background-attachment: fixed;
  height: calc(100% - 4.3rem);
  @include dark-overlay;
  padding: 2rem;

  header {
    z-index: 2;

    h1 {
      color: $off-white;
      font-size: 8rem;
    }

    h2 {
      color: $off-white;
      font-size: $medium-heading;
    }
  }
}

.hero::after {
  background: rgba(0, 0, 0, 0.5);
}

// Skills Section
#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 2rem;
  min-height: 100vh;
  background-color: $off-white;

  h2 {
    font-size: $medium-heading;
    text-align: center;
    margin: 1.5rem 0;
    width: 100%;
  }
}

.card-group {
  display: flex;
  flex-wrap: wrap;
}

#design-card {
  display: block;
  margin-top: 3rem;
}

.card {
  flex-direction: column;
  width: 25vw;
  padding: 2rem 0;
  box-shadow: $card-shadow;
  border-radius: 10px;
  background-color: white;
  margin: 0 1.5rem;
}

.card-logo-layer {
  text-align: center;

  i {
    position: relative;
    z-index: 1000;
    font-size: 4rem;
    text-align: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    box-shadow: $card-shadow;
    padding: 2rem;
  }
}

.card-header {
  text-align: center;
  margin: 1.5rem 0;
  font-weight: 700;
  letter-spacing: 0.125rem;
}

.card-content {
  display: flex;
  justify-content: space-around;
  padding: 0 0.5rem;

  ul {
    list-style: none;

    li {
      line-height: 2;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0.08rem;
      margin-right: 1rem;
    }
  }
}

// My Work Section
#work,
#about {
  h2 {
    font-size: $medium-heading;
    padding: 1.5rem;
    background-color: #eee;
    text-align: center;
  }
}

.work-section {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.work-description {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.5rem;

  h3 {
    font-size: $small-heading;
    text-align: center;
  }

  p {
    padding: 1rem 3rem 2rem;
    line-height: 1.6;
    font-size: $p-font-size;

    .bold-link {
      text-decoration: none;
      color: #000;
      font-weight: 700;
    }
  }
  .work-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    i {
      font-size: $icon-size;
      margin-right: 2rem;
    }
  }
  .external-links {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 2rem;

    .button {
      margin-right: 2rem;
      padding: 1rem;
      border: 2px solid black;
      text-decoration: none;
      border-radius: 10px;
      color: #000;
    }
  }
}

.work-mockup {
  width: 65%;
  height: 100%;
  display: flex;

  img.devices {
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
  }
}

#project-refuge,
#giphy-search {
  flex-direction: row-reverse;
  background-color: #eee;
}

// About Me section

.about-content {
  min-height: 50vh;
  width: 50%;
  display: block;
  margin: 0 auto 2rem;
}

.me {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 2rem auto;

  img {
    height: 110%;
    width: 100%;
    object-fit: cover;
  }
}

.about-description p {
  line-height: 1.6;
  font-size: $p-font-size;
}

@media (max-width: 991.98px) {
  .card {
    width: 40vw;
  }

  .work-section {
    flex-wrap: wrap;
  }

  .work-description,
  .work-mockup {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  #skills {
    justify-content: center;
  }

  #design-card {
    margin: 0;
  }

  .card {
    width: 80vw;
    margin-bottom: 2rem;
  }

  .card-group {
    justify-content: center;
  }
  .work-section {
    height: auto;
    padding: 2rem 0;
  }
  .external-links {
    padding-bottom: 2rem;
  }
}
